<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <header>
    funny html
  </header>
  <body>
    put in the name of a spell and get something out of it <br>
    <form id = "form">
      <h2>spell name field</h2>
      <input type = "text" id = "spellname"><br>
      <button type="submit">retrieve the name and description, if there is one</button> <br>
    </form>
    <br><br>
    <h2 id ="output_name"></h2>
    <div id="output_desc"></div>
  </body>
  <button onclick = "console.log('result')"> print "test" to console </button>

  <link rel="stylesheet" href="myfirsthtml_css_options.css" type="text/css">
  <script src="myfirsthtml_ajax_scripts.js" type="text/javascript"></script>
</html>